@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Friends">Friends Table</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Homes">Homes Table</a>
</div>
